@model Sistema_Cine.ViewModels.MovieDetailViewModel

@{
    ViewData["Title"] = Model.Movie.Titulo;
}

<div class="row">
    <div class="col-md-4">
        <img src="@Model.Movie.PosterFullPath" class="img-fluid mb-3" alt="@Model.Movie.Titulo" />
        <div class="mb-2">
            <strong>Nota:</strong> @Model.Movie.NotaMedia?.ToString("0.0")
        </div>

        <div class="mt-3">
            <h6>Localização</h6>
            <div>@Model.Movie.CidadeReferencia</div>
            <div>
                @if (Model.Movie.Latitude.HasValue && Model.Movie.Longitude.HasValue)
                {
                    <small>Lat: @Model.Movie.Latitude, Lon: @Model.Movie.Longitude</small>
                }
                else
                {
                    <div class="text-warning">Preencha latitude/longitude para ativar previsão do tempo.</div>
                }
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <h3>@Model.Movie.TituloOriginal</h3>
        <p>@Model.Movie.Sinopse</p>

        <p><strong>Elenco:</strong> @Model.Movie.ElencoPrincipal</p>
        <p><strong>Gênero:</strong> @Model.Movie.Genero</p>
        <p><strong>Duração:</strong> @Model.Movie.Duracao min</p>

        <hr />
        <h5>Previsão do tempo</h5>
        @await Html.PartialAsync("_WeatherBlock", Model.Forecast)
    </div>
</div>


